@font-face {
  font-family: "font1";
  src: url(../fonts/Joan-Regular.ttf);
}

@font-face {
  font-family: "font2";
  src: url(../fonts/SplineSansMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: "font3";
  src: url(../fonts/SplineSansMono-VariableFont_wght.ttf);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62%;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: blue;
}

html::-webkit-scrollbar-thumb {
  background: #afbec4;
}

body {
  background: #22226c;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: #22226c;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: #afbec4;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48rem;
          flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
  padding: 1rem 0;
}

.about .row .info h3 span {
  color: #afbec4;
  text-decoration: underline;
  font-weight: bolder;
  padding: 0 0.5rem;
}

.about .row .counter .box {
  width: 30rem;
  height: 70px;
  background: #afbec4;
  text-align: center;
  padding: 1.3rem;
  margin: 3.5rem;
}

.about .row .counter strong {
  text-decoration: underline;
  font-weight: bolder;
  color: #fff;
  font-size: 25px;
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #3333;
  color: #afbec4;
  font-size: 1.7rem;
  width: 88%;
  border: none;
  border-radius: 20px;
}

.contact .row form .box::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #fff;
}

.contact .row form .box:-ms-input-placeholder {
  text-transform: capitalize;
  color: #fff;
}

.contact .row form .box::-ms-input-placeholder {
  text-transform: capitalize;
  color: #fff;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
  color: #fff;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .info h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.3rem;
  color: #fff;
  padding: 1rem 0;
}

.contact .row .content .info h3 i {
  color: #afbec4;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #afbec4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
}

header .user img {
  height: 15rem;
  width: 15rem;
  border-radius: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  border: 0.7rem solid #22226c;
}

header .user .name {
  font-size: 5rem;
  color: #22226c;
}

header .user .post {
  font-size: 2.6rem;
  font-weight: bold;
  color: #22226c;
}

header .navbar {
  width: 90%;
}

header .navbar ul {
  list-style: none;
  padding: 2rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1.8rem;
  margin: 1.5rem 0;
  background: #22226c;
  color: #fff;
  font-size: 2.3rem;
  border-radius: 3.5rem;
  font-weight: bold;
  font-family: #afbec4;
}

header .navbar ul li a:hover {
  background: #afbec4;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 15rem;
}

.home h1 span {
  color: #fff;
  font-size: 10rem;
  font-style: italic;
  text-shadow: 5px 5px 3px #000, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.home p {
  font-size: 5rem;
  color: #fff;
}

.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home ul li {
  margin: 40px;
  list-style: none;
  font-size: 3rem;
  color: #fff;
  border-radius: 5rem #fff;
}

.portfolio-item .card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16.4rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16.4rem, 1fr));
  gap: 4rem;
}

.portfolio-item .card-container .card {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: #afbec4;
  position: relative;
}

.portfolio-item .card-container .card h2 {
  font-family: "font2", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  margin-top: 5rem;
}

.portfolio-item .card-container .card p {
  margin-top: 2rem;
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: serif;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: #afbec4;
}

.services .box-container .box h3 {
  font-family: "font3", sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.services .box-container .box p {
  font-size: 10px;
  text-decoration: underline;
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */