.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: $color1;
}



.services .box-container .box h3 {
  font-family: $font3;
  font-size: 3rem;
  padding-bottom: 2rem;
    color: $color4;
  text-align: center;
}

.services .box-container .box p {
  font-size: 10px;
  text-decoration: underline;
  text-align: center;
  color: $color4;
}



